#general
build/
dist/
*.pyc
*$py.class
__pycache__/
.DS_Store
*.png
*.vscode

#robot
tmp
target
venv*
.venv*
.env
*~
MANIFEST
atest/results
utest/jasmine-results
.*project
ext-lib
*.iml
doc/api/_build
doc/libraries/*.html
doc/userguide/RobotFrameworkUserGuide.html
src/robotframework.egg-info
log.html
output.xml
report.html
.classpath

#behave
*.egg-info
*.log
*.pyo
__WORKDIR__/
__*/
__*.txt
__*.rst
_build/
_WORKSPACE/
reports/
tools/virtualenvs
.cache/
.pytest_cache/
.tox/
.venv*/
.coverage
.ropeproject
nosetests.xml
rerun.txt
testrun*.json

#ide
**/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
.idea
